.vinyl-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.vinyl-card:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.vinyl-card img {
    max-width: 100%;
    border-radius: 10px;
}

.vinyl-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    /* height: 50px; */
}

.vinyl-card p {
    margin: 5px 0;
}

.vinyl-card button {
    background-color: #212121;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.vinyl-card button:hover {
    background-color: #333;
  }