.vinyl-details {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}
  
.vinyl-details-image {
    max-width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

.vinyl-details-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.vinyl-details-info p {
    margin: 5px 0;
}

.go-back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.go-back-button:hover {
    background-color: #0056b3; 
}