   .navbar {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-buttons button {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: rgb(255, 204, 0);
    color: black;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .navbar-buttons button:hover {
    transform: scale(1.05);
    color: black;
  }
  
  .navbar-buttons button svg {
    width: 50%; 
    height: 50%;
  }
  