.container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 100vh;
}


.backContainer{
    /* height: 100%; */
    width: 100%;
    background-color: #dfdfdf;
    border-radius: 25px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 2rem;
    height: calc(100vh - 5rem);
}